
<div class="main-div">

    <div *ngIf="olympic != undefined">
        <div class="medals-title">
            <h3> {{ olympic.country | uppercase }} </h3>
        </div>

        {{ getTotalEntries(olympic.participations.length) }}

        <div *ngFor="let participation of olympic.participations">

            <p>{{ participation.year }}</p>
            <p>Médailles : {{ participation.medalsCount }}</p>
            {{ getTotalMedals(participation.medalsCount) }}
            {{ getTotalAthlete(participation.athleteCount) }}
            
        </div>

        <div *ngFor="let participation of (olympic.participations | slice:olympic.participations.length -1)" class="subtitle-div">
            <div class="subtitle-p">
                <p class="p1">Number of entries</p>
                <p class="p2">{{ totalEntries$ }}</p>
            </div>
            <div class="subtitle-p">
                <p class="p1">Total number medals</p>
                <p class="p2">{{ totalMedals$ }}</p>
            </div>
            <div class="subtitle-p">
                <p class="p1">Total number of athlete</p>
                <p class="p2">{{ totalAthlete$ }}</p>
            </div>
        </div>
    </div>
    {{ resetTotals() }}

    <a routerLink="/dashboard">Back</a>

    <app-line></app-line>
    
</div>

