
<div class="main-div">
    <div class="medals-title">
        <h3> {{ olympicCountry | uppercase }} </h3>
    </div>
    
    <div class="subtitle-div">

        <div class="subtitle-p">
            <p class="p1">Number of entries</p>
            <p class="p2">{{ totalEntries }}</p>
        </div>

        <div class="subtitle-p">
            <p class="p1">Total number medals</p>
            <p class="p2">{{ totalMedals }}</p>
        </div>
        
        <div class="subtitle-p">
            <p class="p1">Total number of athlete</p>
            <p class="p2">{{ totalAthlete }}</p>
        </div>
    </div>  
</div>

<app-line></app-line>

<div class="main-div">
    <button (click)="goBack()"> ⬅ Go back</button>
</div>

