
.main-div {
    width: 77%;
    margin: auto;
    text-align: center;
}

.medals-title {
    color: white;
    background-color: rgb(4,131,143);
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    margin: 1.5rem auto;
    font-size: 1.5rem;
}

.subtitle-div {
    display: flex;
    justify-content: space-between;
    max-width: 35rem;
    margin: auto;
}

.subtitle-p {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(4,131,143);
    padding: 0 0.3rem;
    margin-bottom: 1.5rem;
    text-align: center;
    line-height: 0.5rem;
}

.p1 {
    color: rgb(128,128,128);
    margin-top: 0.7rem;
    font-weight: 400;
}
.p2 {
    margin-top: 0;
    font-weight: 500;
}

button {
    border: none;
    color: rgb(111,111,111);
    background-color: white;
    border-radius: 10px;
    border-color: rgb(111,111,111);
    height: fit-content;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    margin: 1rem auto;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    font-weight: 400;
}
