
.mainHome {
    text-align: center;
    margin: auto;
    padding-top: 10rem;
}

hr {
    color: rgb(4,131,143);
}

button {
    background-color: rgb(4,131,143);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
}

