
<div class="mainHome">
    <div class="img"></div>
    <div class="main-div">
        <div class="medals-title">
            <h3>Medals per Country</h3>
        </div>

        <div class="subtitle-div">
            <div class="subtitle-p">
                <p class="p1">Number of JOs</p>
                <p class="p2">{{ josNumber$ }}</p>
            </div>
            <div class="subtitle-p">
                <p class="p1">Number of countries</p>
                <p class="p2">{{ olympicsLength$ }}</p>
            </div>
        </div> 
    </div>
    
</div>

<app-pie></app-pie>

